<!DOCTYPE html>
{% load staticfiles %}
<html >
<head>
  <meta charset="UTF-8">
  <title>Emosic</title>
	<link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'images/music_icon.ico' %}">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	{# <link href="{% static 'css/style.css' %}" rel="stylesheet">#}
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>

<body>

  <div id="bg"></div>

  <div class="topnav">
  	<a class="active" href="{% url 'home' %}"><img src="{% static 'images/music_icon.ico' %}" style="height:50px;width:50px;"></a>

    {% if user.is_authenticated %}
  <a href="{% url 'accounts:logout' %}" >LogOut</a>
    {% else %}
    {% endif %}
   <a href="#about">About Emosic</a>
  </div>

  <h1 style="color:#fff;text-align:center;font-size:64px;font-family:Broadway;text-shadow: 2px 2px 4px #000000;">EMOSIC</h1>
  <h4 style="color:#fff;text-align:center;position:relative;text-shadow: 2px 2px 4px #000000;">Get Songs at your Face Tips</h4>
 </br>

  {% block content %}

  {% endblock %}

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</body>
</html>
