{% extends "base.html" %}
{% block content %}
   {% if emotionFoundtag %}
   <h1 >Hey Your are current Emosion : {{emotionFoundtag}}</h1>
   {% endif %}

  {% if songlist %}
  {% for ob in songlist %}

  {% if ob.emotionAttached == emotionFoundtag %}
  <h2>{{ob.name}}</h2>
    <audio controls>
         <source src="{{ ob.audio_file.url }}" type="audio/mpeg">
      </audio>
  {% endif %}
  {% endfor %}

   <a href="https://www.youtube.com/results?search_query={{emotionFoundtag}}+songs"><button type="button" name="button">Search Youtube</button></a>
    <a href="https://gaana.com/search/{{emotionFoundtag}}%20songs"><button type="button" name="button">Search Gaana</button></a>


  {% endif %}


{% endblock %}
